{% extends "../generic.html" %}

{% block content %}
    <div>
        <div class="results">
            {% if blog_list %}
                <table id="result_list">
                    <thead>
                        <tr>
                            <th scope="col">
                               <div class="text" style="background: #f6f6f6;"><span>Blog Posts</span></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for blogPost in page_obj %}
                        {% cycle 'row1' 'row2' as rowcolors silent %}
                            <tr  class="{{ rowcolors }}">
                                <th class="field-__str__"><a href="/blog/{{ blogPost.id }}/">{{ blogPost.title }}</a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No Posts  are available.</p>
            {% endif %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
